element {
    --logo-bg-color: #4AC9FD;
    --theme-bg-color: #BBFFFF;
}

.App {
  height: 100vh;
    width: 100%;
    background-color: #4AC9FD;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding-top: 10vmin;
    box-sizing: border-box;
}

